/* UNIVERSAL SELECTOR */
* {
    height: auto;
    width: auto;
    padding: 0%;
    background-color: azure;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: .1em;
}


body {
    font-family: 'Roboto', sans-serif;
}

li {
    padding: .5em;
}


/* HEADER SECTION CSS */

#home {
    border: 2px solid black;
}

.name {
    border: 1px solid black;
}

.profile-img {
    width: 200px;
    height: 200px;
}

.navbar {

    border: 1px solid black;
}

.list {
    display: flex;
}

/* ABOUT SECTION */

#about {
    border: 2px solid black;
}

/* PROJECT SECTION  */
#projects {
    border: 2px solid black;
}

.project {
    border: 1px solid black;
    display: flex;
}

/* SKILL SECTION */
#skills {
    border: 2px solid black;
}

#skills ul {
    display: flex;

}

/* CONNECT SECTION */
#contact {
    border: 2px solid black;
}

#social {
    border: 1px solid black;
}

#contact div ul {
    display: flex;
}

.contact-form {
    border: 1px solid black;
}