 /* about section */
 #about {
     width: auto;
     height: auto;
     padding: 20px;
     border: 1px solid black;
 }

 /* project section  */
 #projects {
     width: auto;
     height: auto;
     padding: 20px;
     border: 1px solid black;
 }

 /* SKILLS SECTION  */
 #skills {
     width: auto;
     height: auto;
     padding: 20px;
     border: 1px solid black;
 }


 /* CONNECT SECTION  */
 #contact {
     width: auto;
     height: auto;
     padding: 20px;
     border: 1px solid black;
 }

 /* header  */

 /* css for image profile photo */
 .profile-img {
     width: 200px;
     height: 200px;
 }